<ion-header>
  <ion-toolbar>
    <ion-title>
      Verificação
    </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>valor de a:</ion-label>
  <ion-input position = "floating" [(ngModel)] = "a"></ion-input>
  <ion-label>valor de b:</ion-label>
  <ion-input position = "floating" [(ngModel)] = "b"></ion-input>
  <ion-label>valor de c:</ion-label>
  <ion-input position = "floating" [(ngModel)] = "c"></ion-input>
  <ion-label>Cordenada X do ponto:</ion-label>
  <ion-input position = "floating" [(ngModel)] = "x" ></ion-input>
  <ion-item>
  <ion-label>Codenada Y do ponto:</ion-label>
  <ion-input position = "floating" [(ngModel)] = "y" ></ion-input>
  </ion-item>



  <ion-button expand= "full" color = "success" shape = round (click) = "verificar()"> verificar </ion-button>

  <ion-button  href = "home"> voltar </ion-button>

</ion-content>
<ion-footer>
</ion-footer>
